{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block head %}
    <style>
        .errors
        {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="fluid-row" id="header">

        <h1 class="title toc-ignore">Exia Play Again</h1>

    </div>

    <!--  -->
    <p>Bienvenu sur Exia Play Again!</p>

{% endblock %}
