{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Sign In
{% endblock %}

{% block body %}

    <h1>Connexion</h1>

    {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <strong>Attention ! </strong>
            {{ message }}
        </div>

    {% endfor %}

    <form method="post" action="{{ path('exiaplayagain_login') }}">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="login" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" placeholder="Mot de passe" name="password" required>
                </div>
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-default">Valider</button>
    </form>

{% endblock %}